<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Taller Git</title>
		<link rel="icon" type="image/svg+xml" href={`${import.meta.env.BASE_URL}favicon.svg`} />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@import '../styles/global.css';
</style>
